/////////////////////////////////////////////////////////////////////////////
//
// Microsoft Visual C++ generated resource script.
//
#define _INCLUDE_VERSION_H 1
#include "version.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "WinResrc.h"
#undef APSTUDIO_READONLY_SYMBOLS

#define MY_VERSION_NUMBER MY_VERSION_MAJOR, MY_VERSION_MINOR, MY_VERSION_PATCH, 0
#define ___MY_VERSION_STRING(X) #X
#define __MY_VERSION_STRING(X,Y,Z) ___MY_VERSION_STRING(X.Y.Z)
#define _MY_VERSION_STRING(X,Y,Z) __MY_VERSION_STRING(X,Y,Z)
#define MY_VERSION_STRING _MY_VERSION_STRING(MY_VERSION_MAJOR, MY_VERSION_MINOR, MY_VERSION_PATCH)

#ifdef _M_ARM64
#define MY_ARCH_SUFFIX "(a64)"
#else
#ifdef _M_X64
#define MY_ARCH_SUFFIX "(x64)"
#else
#define MY_ARCH_SUFFIX "(x86)"
#endif
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Neutral resources
//
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
101 ICON "tee.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION    MY_VERSION_NUMBER
 PRODUCTVERSION MY_VERSION_NUMBER
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "ProductName",      "tee for Windows"
            VALUE "FileDescription",  "tee for Windows " MY_ARCH_SUFFIX
            VALUE "ProductVersion",   MY_VERSION_STRING
            VALUE "FileVersion",      MY_VERSION_STRING
            VALUE "InternalName",     "tee-win32"
            VALUE "OriginalFilename", "tee.exe"
            VALUE "LegalCopyright",   "Copyright (c) 2023 dEajL3kA <Cumpoing79@web.de>"
            VALUE "CompanyName",      "dEajL3kA"
            VALUE "LegalTrademarks",  "dEajL3kA"
            VALUE "Comments",         "Released under the MIT license"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
